* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* height: 100vh; */
    width: 90vw;
    margin: auto;
    /* border: greenyellow 1px solid; */
}

body {
    font-family: "Cairo", sans-serif;
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: white;
    font-size: 10rem;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

nav {
    width: 100%;
    height: 60px;
    /* border: red 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav .top_menu ul {
    list-style-type: none;
    display: flex;
}

nav .top_menu ul li {
    padding: 0 1.5rem;
}

.box {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    background-color: var(--bg-content);
    box-shadow: var(--shadow);
    padding: 15px;
    margin-bottom: 30px;
    /* border: solid 1px green; */
}

.box .featured_article {
    height: 50vh;
}

.box .featured_article .featured_article_text {
    height: 50vh;
    /* width: 50%; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1rem;
    color: white;
}

.box .topArticles_box {
    display: flex;
    justify-content: space-between;
}

.box .topArticles {
    width: 300px;
    height: 300px;
    /* border: 1px solid lightgray; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box .topArticles .topArtImg {
    height: 100%;
    width: 100%;
}

.box .topArticles .topArtText {
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}